:root {
    --primary-color: #EE4D2D;
    --text-color: #333;
    --white-color: #fff;
    --black-color: #000;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3d;

    --header-height: 120px;
    --navbar-height: 28px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 44px;
}

* {
    box-sizing: inherit;
}

html {
    /* HACK */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Button style */
.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 18px;
    color: var(--black-color);
    background-color: var(--white-color);
    outline: none;
    cursor: pointer;
    line-height: 1.6rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}